
.cartao{
    position: relative;
    left: 80px;
    top: 460px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.contatos{
    margin-top: 100px;
    margin-left: 45%;
    border-radius: 7px;
}

.input_nome{
    height: 30px;
    border-radius: 7px;
}

.input_email{
    height: 30px;
    border-radius: 7px;
}

.text_area{
    resize: none;
    height: 150px;
    width: 310px;
    border-radius: 7px;
    position: relative;
    padding: 13px;
}

.titulo{
    font-family: New Century Schoolbook, TeX Gyre Schola, serif;
    color: #8A2BE2;
}

.botao_form{
    margin-top: 180px;
    margin-left: 45%;
    width: 310px;
   position: relative;
   bottom: 185px;
   border-radius: 4px;
}

.img_botao{
    height: 15px;
    position: relative;
    left: 5px;
    
}