* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #363b48;
    overflow: hidden;
}


/*menu topo*/

.menu-top {
    background-color: #d2d2d2d2;
    height: 50px;
}

.fa-envelope-open {
    margin-left: 450px;
    margin-top: 30px;
}

.fa-bars {
    position: relative;
    left: 15px;
    height: 50px;
}

.sidebar {
    background-color: red;
}


/*menu lateral da esquerda*/

.menu-lateral {
    width: 170px;
    height: 550px;
    position: absolute;
    top: 49px;
    background-color: #d2d2d2d2;
    border: 15px solid red;
    border-radius: 0 15px 15px 0;
}

.menu-lateral a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-lateral a:hover {
    color: #e54343;
    transition-delay: .2s;
    border-radius: 5px;
}


/*Menu top side abrir fechar Graficos */

.grafico1 {
    background-color: red;
    height: 130px;
    width: 500px;
    position: fixed;
    left: 800px;
    border-radius: 10px;
    margin: 4px;
    margin-top: 13px;
    background-color: #fff;
    margin-left: 10px;
}

.grafico2 {
    background-color: red;
    height: 130px;
    width: 500px;
    left: 190px;
    border-radius: 10px;
    margin: 4px;
    margin-top: 15px;
    background-color: #fff;
    margin-left: 50px;
}


/* Graficos*/

.Grafico-1 {
    background-color: red;
    height: 400px;
    width: ;
    margin-top: 165px;
    margin-left: 240px;
    border-radius: 15px;
    display: none;
}

.Grafico-2 {
    background-color: #e54343;
    height: 400px;
    width: 1075px;
    margin-top: 165px;
    margin-left: 240px;
    border-radius: 15px;
    display: none;
}

.Grafico-1 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.Grafico-2 a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}


/* icones informs */

.fa-caret-square-down {
    margin-top: 110px;
    background-color: #ddd;
    color: #fff;
}

.fa-caret-square-down:hover {
    cursor: pointer;
    background-color: #000;
}

.fa-envelope-open {
    position: relative;
    left: 780px;
    bottom: 15px;
}

.fa-bell {
    position: relative;
    left: 790px;
    bottom: 15px;
}


/* menu modal */

.box {
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: 90px;
    left: 50%;
    z-index: 9999;
    display: none;
}

.Btn-form {
    position: absolute;
    top: 342px;
    padding: 15px;
    width: 145px;
    border-radius: 15px;
    text-align: center;
}

.Btn-form:hover {
    background-color: #E59866;
    transition-delay: .4s;
    transition: .3s;
}


/* formularios*/

.formulario {
    align-items: center;
    float: left;
    padding: 12px;
    background-color: #ddd;
    ;
    border-radius: 5px;
    position: fixed;
}

input {
    padding: 4px;
    border-radius: 4px;
    width: 350px;
    display: block;
}

.btn-enviar {
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    margin-left: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-enviar:hover {
    background-color: #E59866;
    transition-delay: .4s;
    transition: .3s;
}

textarea {
    padding: 4px;
    width: 350px;
    display: block;
    border-radius: 4px;
    resize: none;
}


/* icones menu */

.fa-home {
    margin-right: 10px;
}

.fa-clipboard-list {
    margin-right: 17px;
}

.fa-phone-square-alt {
    margin-right: 15px;
}

.fa-cog {
    margin-right: 12px;
}