*{
    margin: 0;
    padding: 0;
}
.formulario{
    align-items: center;
    border: 1px solid red;  
    float: left;
    padding: 12px;
    background-color: rosybrown;
    border-radius: 5px;
}
input{
    padding: 4px;
    border-radius: 4px;
    width: 350px;
    display: block;
}
.btn-enviar{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    margin-left: 100px;
}
.btn-enviar:hover{
    background-color: #E59866;
    transition-delay: .4s;
    transition: .3s;
}
textarea{
    padding: 4px;
    width: 350px;
    display: block;
    border-radius: 4px;
    resize: none;
}
/* fff */
.formulario{
    align-items: center;
    border: 1px solid red;  
    float: left;
    padding: 12px;
    background-color: rosybrown;
    border-radius: 5px;
    position: absolute;
    z-index: 9998;
}
input{
    padding: 4px;
    border-radius: 4px;
    width: 350px;
    display: block;
}
.btn-enviar{
    cursor: pointer;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    margin-left: 100px;
}
.btn-enviar:hover{
    background-color: #E59866;
    transition-delay: .4s;
    transition: .3s;
}
textarea{
    padding: 4px;
    width: 350px;
    display: block;
    border-radius: 4px;
    resize: none;
}

/* menu modal */
#bg{
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0;
    background-color: #e53e43;
    position: fixed;
    display: none;
}
#box:target{
    display: block;
}
#bg:target ~ .box{
    top: 150px;
    transition: all .3s;
    transition-delay: .2s;
}
.box{
    width: 720px;
    height: 405px;
    position: absolute;
    margin-left: 90px;
    left: 50%;
    top: -510px;
}
.box img{
    width: 100%;
    position: absolute;
    border-radius: 15px;
}
#close{
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 35px;
    position: absolute;
    z-index: 9998;
    background-color: #000;
    width: 40px;
    height: 20px;
    text-align: center;
    right: 0;
    border-radius: 15px;
    margin-right: 340px;
}