html {
    height: 0;
}

body {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #F8F9F9;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.corpo {
    margin: 0 5% 0 5%;
}

.RetanguloTitulo {
    width: 100%;
    height: 70px;
    background-color: white;
    box-shadow: 0px 1px 2px black;
    margin-top: 80px;
}

.titulos h1 {
    color: #000;
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding-top: 10px;
}


/*HEADER DA PÁG*/

.header {
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80px;
    border-bottom: black 5px solid;
}

.header h1 {
    color: black;
    width: 50%;
    padding: 0 10px 10px;
    display: inline-block;
    margin-top: 0;
    float: left;
    margin: auto;
}

.faixaHeader {
    background-color: rgb(0, 0, 0);
    height: 55px;
}

.imagemHeader {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 12px;
    margin-left: 85%;
}

.nav {
    margin-left: 10%;
    float: right;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav a:hover {
    position: relative;
    bottom: 4px;
    color: orange;
}

.nav a {
    color: black;
    text-decoration: none;
    display: inline-block;
    margin-left: 25px;
    font-size: large;
}

.nav .ativo {
    color: orange;
}


/*SIDEBAR*/

.buttonMenu {
    font-size: 30px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
}

.buttonMenu i {
    color: black;
}

.sidebar {
    height: 100%;
    width: 200px;
    background-color: white;
    position: fixed;
    overflow: hidden;
}

.sidebar a {
    display: block;
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 8px;
}

.sidebar a:hover {
    border-bottom: black 5px solid;
    opacity: 0.5;
}

.sidebar .closeSide {
    font-size: 30px;
    margin-left: 70%;
}

h1 {
    color: #000;
    display: block;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}


/*FOTO DO FUNDO INICIAL*/

.fotoFundo {
    background-repeat: no-repeat;
    background-image: url();
    width: 100%;
    height: 100%;
}

.fotoFundo .torcida {
    width: 100%;
    height: 100%;
}


/* final */

.footer {
    width: 100%;
    margin-top: 50px;
    height: 80px;
    color: white;
    background-color: black;
    transition: 0.5s;
}

.footer p {
    color: white;
    font-size: 20px;
    width: 150px;
    height: 30px;
    margin-left: 900px;
    float: left;
    text-align: justify;
}

.fab {
    margin-right: 20px;
    color: gray;
    text-decoration: none;
}

.social {
    margin-top: 40px;
    width: 240px;
    float: right;
}

.social a:hover {
    background: #B1B1B1;
    color: #FFF;
    font-weight: bold;
    border-color: #B1B1B1;
}

.social a:link {
    cursor: pointer;
}