body, html {
    height: 100%;
    margin: auto;
    
}
div.dashboard {
    display: flex;
    flex-direction: row ;
    height: 100%;
    width: 100%;
}
sidebar {
    display: block;
    height: 100%;
    width: 300px; 
    
}
.dashboard header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 10px 30px;
    background-color: #ffffff;
    text-transform: uppercase;
}
.dashboard header a {
    text-decoration: none;
}
sidebar .sidebar-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    height: 90px;
    
} 
sidebar .sidebar-title img {
    height: 70px;
    width: 70px;
}
h2 {
    font-size: 18px;
    margin-top: 8px;
    color: purple;
}
div.menu ul li {
    list-style: none;
}
#login {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 215px;
    text-transform: uppercase;
}
#login:hover {
   color: darkblue;
   transform: translate(0.5);
}
#simulador {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 430px;
    text-transform: uppercase;
}
#simulador:hover {
    color: darkblue;
    transform: translate(0.5);
}
.dashboard header a:hover {
    color: darkblue;
}
#home{
    border: 0 20px solid red;

}