.div_equipe{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dev1{
    height: 100px;
    margin-right: 60px;
    position: relative;
    left: 30px;
}

.dev2{
    height: 100px;
    margin-right: 60px;
    position: relative;
    left: 30px;
}

.dev3{
    height: 100px;
    margin-right: 60px;
    position: relative;
    left: 30px;
}

.dev4{
    height: 100px;
    margin-right: 60px;
    position: relative;
    left: 30px;
}

.dev5{
    height: 100px;
    margin-right: 60px;
    position: relative;
    left: 30px;
}

.nome1{
    position: relative;
    left: 30px;
}

.nome2{
    position: relative;
    left: 30px;
}

.nome3{
    position: relative;
    left: 10px;
}

.nome4{
    position: relative;
    left: 30px;
}

.nome5{
    position: relative;
    left: 10px;
}

.git_img{
    height: 25px;
    position: relative;
    left: 40px;
    bottom: 5px;
}

.linke_img{
    height: 25px;
    position: relative;
    left: 50px;
    bottom: 5px;
}

.equipe1{
    border: 5px double #8A2BE2;
    position: relative;
    left: 1px;
    top: 5px;
    margin-right: 10px;
}

.equipe2{
    border: 5px double #8A2BE2;
    position: relative;
    left: 1px;
    top: 5px;
}

.equipe3{
    border: 5px double #8A2BE2;
    position: relative;
    left: 10px;
    top: 5px;
}

.equipe4{
    border: 5px double #8A2BE2;
    position: relative;
    left: 20px;
    top: 5px;
}

.equipe5{
    border: 5px double #8A2BE2;
    position: relative;
    right: 5px;
    top: 5px;
    margin-left: 35px;
}